{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Registration
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="username" required>
                <label>User Name</label>
            </div>
            <div class="field">
                <input type="password" name="password1" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="password" name="password2" required>
                <label>Confirm Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Sign Up">
            </div>
            {% if form.errors %}
                <p class="error">{{ form.errors }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
